*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}
#container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    padding: 20px;
    

}
#logo{
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 45%;
    margin-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
    margin-left: 20px;
    border: 1px solid red;
}
.form-discription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: 1px solid black;
}
.form-discription p {
    font-size: 2rem;
    font-family: cursive;
}
.form-discription h3{
    margin-top: 30px;
}
fieldset{
   
    border: 0;
}
.form-body{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid red;
    
}


.name{
    display: flex;
    justify-content: space-between;

}
.logo-odin{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    top: -50px;
    
    flex-direction: row;

}
img{
    height: 15vh;
    
    

    
}
.name-odin{
    font-size: 80px;
    align-self: center;
    color: white;
    font-family:cursive;
}

button{
    background-color: green;
    padding: 10px;
    border-radius: 10%;
    color: white;
    width: 150px;
    margin: 30px;
    margin-bottom: 30px;
    
}
.login-div{
    display: flex;
    text-decoration: none;
    margin-left: 30px;
}
.credits{
    color: white;
    position: relative;
    top: 200px;
}

legend{
    margin-left: 10px;
    margin-bottom: 30px;
}

input{
    margin-left: 40px;
    width: 250px;
    align-items: center;
    padding: 7px;
    border-radius: 4%;
    box-shadow: none;


}
label{
    margin-left: 10px;
}