*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-container{
    /* border: 1px solid black; */
    background-color: #1f2937;
    color: white;
    
}
.header-nav{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    

}
.header-item{
    /* border: 1px solid black; */
}
.header-item-link{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    /* border: 1px solid black; */
}

.header-content{
    
    display: flex;
    justify-content: space-evenly;
    height: 15vw;
    align-items: center;
  

}
.header-main-text{
    font-size: 48px;
    font-style: bold;
    color: #f9faf8;
}
button{
    color: white;
    background-color: #3882f6 ;
    border-radius: 2ch;
    padding: 10px;
    
}
.header-description{
    /* border: 1px solid black; */
}
.header-image{
    /* border: 1px solid black; */
    height: 60%;
    width: 30%;
    text-align: center;

}
.quotes-container{
    background-color: rgb(252, 209, 216);
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.call-to-action-wraper{
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    height: 20vh;
    color: #f9faf8;
    align-items: center;
    
}


.footer-container{
    background-color: #1f2937;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}
.signup{
    display: flex;
    justify-content: flex-end;
}
